
.landing-container {
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
  }
  
  
  .logo-container {
    text-align: center; 
    margin-bottom: 10px; 
  }
  
  .landing-page-logo {
    width: auto; 
    height: auto; 
    border-radius: 10px; 
  }
  
  
  .landing-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
  }
  
  .landing-subtitle {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 30px;
    line-height: 1.6;
  }
  
  
  .language-section {
    margin: 20px 0;
    text-align: center;
  }
  
  .language-heading {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
  }
  
  .language-links {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap; 
  }
  
  .language-link {
    text-decoration: none;
    color: white;
    background-color: #007bff;
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
  
  .language-link:hover {
    background-color: #0056b3;
  }
  
  
  .form-container {
    margin-top: 40px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  
  .form-description {
    font-size: 1rem;
    color: #555;
    margin-bottom: 20px;
    line-height: 1.5;
  }
  
  
  .form-container h2 {
    margin-bottom: 10px;
    font-size: 1.8rem;
    color: #333;
  }
  
 
  .form-group {
    margin-bottom: 15px;
    text-align: left; 
  }
  
 
  .form-group label {
    display: block;
    font-size: 1rem;
    margin-bottom: 5px;
    color: #333;
  }
  
 
  .form-group input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  .form-group input:focus {
    border-color: #007bff;
  }
  
  
  .submit-button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
}  