.maindiv {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.product-card {
    margin-top: 5cm;
    background-color: #e6e6fa;
    border: 1px solid #ccc;
    border-radius: 8px;
    height: 520px;
    width: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px 0px grey;
    transition: transform 0.2s ease-in-out;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-card__image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    display: block;
    margin: 0;
}

.product-card__content {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

.product-card__title {
    font-size: 1.5cm;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 28px;
}

.product-card__description {
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    color: #555;
    margin-top: 0;
    margin-bottom: 30px;
}

.product-card__price {
    font-size: 25px;
    font-weight: bolder;
    font-style: italic;
    color: #333;
    margin-top: 0;
    margin-bottom: 23px;
}

.buynow{
    background-color:  #24a0ed;
    color: aliceblue;
    font-size: 15px;
    font-weight: bolder;
    border-radius: 4px;
    width: 95px;
    height: 33px;
    border: 0px lightblue;
    transition: transform 0.3s ease-in-out;
}
.buynow:hover{
        transform: scale(1.08);
}

.buynowdiv{
    display: flex;
    justify-content: center;
}

.hr{
    border: 1px solid #ccc;
    width: 400px;
    margin-bottom: 28px;
}