.gret{
    display: flex;
    justify-content: flex-start;
    padding-top: 6cm;
    padding-left: 0;
    margin: 0px;
    margin-bottom: 0px;
}
.gretdiv{
    color: red;
    border-radius: 15px;
    background-color:aquamarine;
    font-size: 25px;
    border: 4px solid green;
    margin: 0px;
    line-height: 10mm;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    padding: 0;
    display: inline-block;
}

.gretp {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 25px;
    margin-right: 20px;
    padding: 0;
    line-height: 1;
}
