* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
}

.line{
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 35px;
  width: 1200px;
  height: 5px;
  background-color: white;
  border-radius: 100px;
}