/* Ensure the entire page has a black background */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: lightgoldenrodyellow; 
}

.App {
  text-align: center;
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: white;
}